.body-bg {
    background-image: url('../../images/bg2.jpg');
    background-size: cover;
    background-repeat: repeat;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}


.select_application_page {
    display: flex;
    flex-flow: row wrap;
  }

  .select_application_page h2
  {
  padding-top: 12px;
  margin-bottom: 5px;
  font-size:1.4rem;
  }

  .select_application_page p
  {
  margin:0;
  font-size:13px;
  }
  .select_application_page > div {
    flex: 1;
    padding: 0.5rem;
  }
  .select_application_page input[type="radio"] {
    display: none;
  }
    .select_application_page input[type="radio"]:not(:disabled) ~ label {
      cursor: pointer;
    }
    .select_application_page input[type="radio"]:disabled ~ label {
        color: #aaa;
       border-color: hsla(150, 5%, 75%, 1);
      box-shadow: none;
      cursor: not-allowed;
      background: #dfdfdf;
    }

  .select_application_page label {
    height: 100%;
    display: block;
    background: white;
    border: 2px solid hsla(30, 100%, 50%, 1);
    border-radius: 20px;
    padding: .4rem 1rem .4rem;
    margin-bottom: 0;
    text-align: center;
    box-shadow: 0px 3px 10px -2px hsla(39, 100%, 50%, 0.5);
    position: relative;
    cursor: pointer;
  }
  .select_application_page input[type="radio"]:checked + label {
    background: hsla(39, 100%, 50%, 1);
    color: hsla(215, 0%, 100%, 1);
    box-shadow: 0px 0px 20px hsla(39, 100%, 50%, 0.75);
  }
   .select_application_page input[type="radio"]:checked + label ::after {
      color: #FFA400;
      font-family: FontAwesome;
      border: 2px solid hsla(39, 100%, 50%, 1);
      content: "\f00c";
      font-size: 22px;
      position: absolute;
      top: -25px;
      left: 50%;
      transform: translateX(-50%);
      height: 40px;
      width: 40px;
      line-height: 40px;
      text-align: center;
      border-radius: 50%;
      background: white;
      box-shadow: 0px 2px 5px -2px hsla(0, 0%, 0%, 0.25);
    }
